@media only screen and (max-width:1100px){   
    body{
        width: 800px;
    }
    
    #logo{
        width: 700px;
    }

    #subheader{
        display: none;
    }

    .subheader1 h1,.subheader2 h1,.subheader3 h1,.subheader4 h1,.subheader5 h1{
        font-size: 16px;
        padding: 5px;
        font-weight: 500;
        font-family: Calibri;
        line-height: 100%;
    }

    .header-left                { grid-column: 1 / span 7; grid-row: 1 / span 3; margin: auto;     }
    .footer                     { grid-column: 1 / span 7; grid-row: 4; padding: 10px;}
    .header-right-up            { grid-column: 1 / span 2; grid-row: 5; }
    .header-right-down-left     { grid-column: 3 / span 2; grid-row: 5; }
    .header-right-down-right    { grid-column: 5 / span 2; grid-row: 5; }
    .subheader-collapse         { display: inherit; grid-column: 7 ; grid-row: 5;}
    
    .subheader1{ grid-column: 1 / span 7; grid-row: 6;}
    .subheader2{ grid-column: 1 / span 7; grid-row: 7; }
    .subheader3{ grid-column: 1 / span 7; grid-row: 8; }
    .subheader4{ grid-column: 1 / span 7; grid-row: 9; }
    .subheader5{ grid-column: 1 / span 7; grid-row: 10; }

    .main{ grid-column: 1 / span 7; grid-row: 11; padding: 50 px;}

}
