.center{
    margin: auto;
    text-align: center;
}

.justified{
    text-align: justify;
    text-align-last: center;
}

a{
    color: inherit; 
    text-decoration: inherit;
}

body{
    background-color: rgb(250, 250, 250);
    width: 900px;
    margin: auto;
}

p,li{
    font-family: Calibri;
    color: rgb(50, 50, 50);
    font-weight: 300;
    font-size: 16px;
}

b{
    color: rgb(50, 50, 50);
    font-weight: 600;
}

#logo{
    width: 450px;
}

#icone{
    width: 50px;
    display: inline-block;
}