.center{
    margin: auto;
    text-align: center;
}

.justified{
    text-align: justify;
    text-align-last: center;
}

hr{
    height: 8px;
    background-image: -moz-linear-gradient(360deg,purple,rgb(223, 171, 0));
}

#submenu{
    padding-top: 20px;
}

/* mudanças do Bootstrap */ 
.panel-body{
    font-family: Calibri;
    font-size: 20px;
    margin: 0 auto;
}

a{
    color: inherit;
    text-decoration: inherit;
}

button:hover{
    background-color: black;
    color: white;
}

a:hover{
    color: white;
}


h1,h2,h3,h4,h5{
    font-family: Calibri;
}

/* resto */
#logo{
    width: 450px;
}

#icone{
    width: 50px;
    display: inline-block;
}