.center{
    margin: auto;
    text-align: center;
}

#conteúdo{
    scroll-behavior: smooth;
}

.container{
    background-color: rgb(250, 250, 250);
    background-color: white;
}

.container > *{
    border: 1px #d8d8d8;
    border-style: none solid none solid;
}

.container > #conteúdo{
    padding: 0px;
}

.justified{
    text-align: justify;
    text-align-last: left;
}

.conteudo{
    padding: 20px;
    font-family: Calibri;
    font-weight: 300;
    font-size: 18px;
    margin: 0 auto;
}

.image{
    padding: 10px;
    width: 80%;
}

.btn-separator:after {
    content: '';
    display: block;
    background: #d8d8d8;
    height: 100%;
    width: 1px;
}

#botao-voltar-topo{
    display: none;
    position: fixed;
    bottom: 5%;
    right: 5%;
    height: 50px;
    z-index: 99;
    cursor: pointer;
    padding: 10px;
    font-size: large;
}

/* cores das seções */
* > .accordion > *{
    /* accordion usado em classe pra que todos os acordeons, independentemente do ID, recebam a cor da seção de onde estão, aí não precisa fazer ID por ID herdar as cores */
    background-color: inherit;
    border: 0.5px solid;
    color: inherit;
}

#EspaçoEstudante{
    background-color: rgba(99, 0, 82, 0.4);
    color: rgb(49, 0, 42);
}

#Colabore{
    background-color: rgba(171, 0, 36, 0.5);
    color: rgb(40, 0, 16);
}

#FAQ{
    background-color: rgba(171, 104, 0, 0.5);
    color: rgb(40, 0, 16);
}

/* mudanças do Bootstrap */ 
.panel-group{
    width: 100%;
}

.btn{
    margin: 0;
}

button:active,button:hover,.nav-item.active,.nav-item:hover,.nav-item>a:hover,.btn-block:hover,.dropdown-toggle:hover{
    background-color: black;
    color: white;
}

.dropdown-menu{
    width: fit-content;
}

a{
    color: inherit;
    text-decoration: none;
}

h1,h2,h3,p{
    font-family: Calibri;
    line-height: 135%;
}

h1,h2{
    font-weight: 600;
}

h1{
    font-size: 1.2rem;
}

h2{
    font-size: 1rem;
}

h3{
    font-size: 1rem;
    font-weight: 600;
}

p{
    font-size: 0.9rem;
}

/* resto */
#logo{
    width: 450px;
}

#icone{
    width: 45px;
    display: inline-block;
}

.celular{
    display: none;
}

@media only screen and (max-width: 768px) {
    /* Pequenos celulares */
    #logo{
        width: 280px;
    }

    #icone{
        width: 35px;
    }

    #botão-mais{
        width: 50%;
    }

    .celular{
        width: 100%;
        display: inline;
    }

    .PC{
        display: none;
    }

    h1{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 900px) {
  /* Computadores */
  .container{
    width: 950px;
  }

  #botao-voltar-topo{
    right: 22%;
  }

}