/***** grid (ref: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout) *****/

.grid-container{
    display: grid;
    padding: 10px;
}

.header-left            { grid-column: 1 / span 3; grid-row: 1 / span 3; margin: auto;  }
.footer                 { grid-column: 1 / span 3; grid-row: 4; margin: 10px auto; text-align: justify;}
.header-right-up        { grid-column: 4 / span 2; grid-row: 1 / span 2;                         }
.header-right-down-left { grid-column: 4 / span 1; grid-row: 3 / span 2;                         }
.header-right-down-right{ grid-column: 5 / span 1; grid-row: 3 / span 2;                         }

.subheader1{ grid-column: 1; grid-row: 5; }
.subheader2{ grid-column: 2; grid-row: 5; }
.subheader3{ grid-column: 3; grid-row: 5; }
.subheader4{ grid-column: 4; grid-row: 5; }
.subheader5{ grid-column: 5; grid-row: 5; }

.main{ grid-column: 1 / span 5; grid-row: 6;}

.header-main > h1{
    padding: 5px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    font-family: Calibri;
    line-height: 100%;
}

.header-subheader h1{
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    font-family: Calibri;
    line-height: 100%;
}

.subheader-collapse{
    display: none;
    font-size: 50px;
    margin: auto;
    vertical-align: middle;
}

.header-main:hover,.header-subheader:hover{
    background-color: rgb(50, 50, 50);
    color: white;
    text-decoration: underline;
    transition-duration: 0.4s;
    cursor: pointer;
}

.header-left:hover,.footer:hover,.subheader-collapse:hover{
    background-color: inherit;
    color: inherit;
    text-decoration: inherit;
    transition-duration: 0s;
}
